# =========================
# Dependency discipline
# =========================
strict-peer-dependencies=true
auto-install-peers=false
resolution-mode=lowest-direct

# =========================
# Workspace
# =========================
shared-workspace-lockfile=true
link-workspace-packages=true

# =========================
# Node resolution
# =========================
node-linker=isolated

# =========================
# Scripts
# =========================
enable-pre-post-scripts=true

# =========================
# Performance
# =========================
package-import-method=hardlink