# Dependencies
node_modules
.pnpm-store

# Turbo
.turbo
**/.turbo

# Builds
dist
build
out
coverage

# Next.js
.next
.next-cache

# Docker / Mesh
mesh/data
mesh/volumes
mesh/tmp

# Logs
*.log

# Generated
**/generated/**
**/*.gen.ts

# Prisma
**/prisma/migrations
**/prisma/generated

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Git
.git

**/dist/**
**/build/**
**/out/**
**/*.tsbuildinfo