auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9095
common:
  path_prefix: /loki
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
schema_config:
  configs:
    - from: 2026-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h
storage_config:
  filesystem:
    directory: /loki
ingester:
  wal:
    enabled: true
    dir: /loki/wal
compactor:
  working_directory: /loki/compactor
  compaction_interval: 10m
limits_config:
  allow_structured_metadata: true
  retention_period: 0s